.button {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $main;

  @include a;
  @include uppercase;

  background-color: $bg-sedona;
}
