.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-top: 12px;
}

.form__element {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
  padding-bottom: 24px;

  border: none;
}

.form__element--name {
  padding: 0 5px 24px 19px;
}

.form__element--contacts {
  padding: 0 20px 28px 20px;
}

.form__element--impression {
  padding: 0 20px 35px 20px;
}

.form__element--sightseeing {
  padding-bottom: 16px;
}

.form__element--feedback {
  padding: 0 20px 35px 20px;
}


/* Временно для сетки */

.form__element:first-child {
  background-color: thistle;
}

.form__element:nth-child(2) {
  background-color: aquamarine;
}

.form__element:nth-child(3) {
  background-color: peachpuff;
}

.form__element:nth-child(4) {
  background-color: sandybrown;
}

.form__element:nth-child(5) {
  background-color: lavender;
}

.form__desc {
  padding-bottom: 21px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: $text-main;

  @include uppercase;
}

.form__item {
  align-items: flex-end;

  @include h-p;
  padding-bottom: 20px;
}

.form__item--name {
  display: flex;
}

.form__item--label {
  padding-bottom: 6px;
}

.form__item--telephone {
  padding-bottom: 12px;
}

.form__label {
  padding-right: 12px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: $text-sedona;

  @include uppercase;
}

.form__label--contacts {
  margin-left: 22px;
}

.form__input {
  padding: 16px;
  box-sizing: border-box;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $text-main;

  background-color: #f2f2f2;
  border: none;
}

.form__input--name {
  width: 68%;
  align-items: flex-start;
  margin-left: 11px;
}

.form__input--contacts {
  width: 280px;
  padding-left: 21px;
  box-sizing: border-box;
}

.form__list {
  @include ul;
}

.form__list-item {
  position: relative;

  padding: 16px 17px 27px 78px;
}

.form__list-item--checkbox {
  padding: 11px 20px 43px 99px;
}

.form__label-radio,
.form__label-checkbox {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $text-main;
}

.form__label-radio {
  &::before {
    content: "";

    position: absolute;
    top: 2px;
    left: 0;

    width: 56px;
    height: 56px;

    background-color: #f2f2f2;

    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
    top: 19px;
    left: 17px;

    width: 22px;
    height: 22px;

    background-color: #333333;

    border-radius: 50%;
  }
}

.form__label-checkbox {
  &::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 19px;

    width: 56px;
    height: 56px;

    background-color: #f2f2f2;

    border-radius: 10%;
  }

  &::after {
    content: "";

    position: absolute;
    top: 14px;
    left: 37px;

    width: 18px;
    height: 11px;

    border-bottom: 3px solid #231f20;
    border-left: 3px solid #231f20;

    transform: rotate(-45deg);
  }
}

.form__message {
  width: 280px;
  height: 160px;
  padding: 12px 20px;
  box-sizing: border-box;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $text-main;

  background-color: #f2f2f2;
  border: none;
}

.form__button {
  min-width: 280px;
  margin-top: 12px;
  margin-bottom: 36px;
  padding: 16px 10px;
}

@media (min-width: $tablet-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }

  .form__desc {
    font-size: 21px;
  }

  .form__element--name {
    width: 324px;
    padding-bottom: 85px;
  }

  .form__element--contacts {
    width: 100%;
    padding-bottom: 42px;
  }

  .form__element--impression {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 324px;
    padding-bottom: 85px;

    order: -1;
  }

  .form__element--sightseeing {
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 64px;
  }

  .form__element--feedback {
    width: 100%;
    padding: 0;

    /* Временно для сетки */
    margin-bottom: 30px;
  }

  .form__list--checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__list-item--checkbox {
    width: 50%;
    margin: 0;
    padding: 61px 10px 10px 68px;
    box-sizing: border-box;
  }

  .form__message {
    margin-top: 36px;
  }

  .form__button {
    margin-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 1200px;
  }

  .form__element--name {
    width: 50%;
  }

  .form__element--contacts {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 7px;
  }

  .form__contacts-container {
    display: flex;
  }

  .form__contacts-wrapper {
    display: flex;
    flex-direction: row;

    width: 400px;
  }

  .form__element--impression {
    width: 50%;
  }

  .form__element--sightseeing {
    padding-bottom: 72px;
  }

  .form__list-item--checkbox {
    width: 25%;
  }

  .form__button {
    margin-bottom: 67px;
  }
}
