.hotels {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.hotels__text {
  @include h-p;
  padding: 28px 20px 9px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: $text-main;

  @include uppercase;
}

.hotels__desc {
  @include h-p;
  padding: 9px 20px 35px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $text-sedona;

  @include uppercase;
}

.hotels__link {
  width: 458px;
  margin: auto;
  margin-bottom: 49px;
  padding: 16px 46px;
  box-sizing: border-box;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .hotels {
    width: 768px;
  }

  .hotels__text {
    padding: 55px 20px 15px;

    font-size: 30px;
  }

  .hotels__desc {
    padding: 16px 185px 42px;
  }

  .hotels__link {
    margin-bottom: 58px;
    padding: 16px 136px;
  }
}

@media (min-width: $desktop-width) {
  .hotels {
    width: 1200px;
  }

  .hotels__desc {
    padding: 16px 401px 47px;
  }

  .hotels__link {
    margin-bottom: 66px;
  }
}
