.hotels {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
  padding: 0;

  /* Временно для сетки
  background-color: gold; */
}

.hotels__text {
  @include h-p;
  padding: 28px 20px 9px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: $text-main;

  @include uppercase;
}

.hotels__desc {
  @include h-p;
  padding: 9px 20px 35px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $text-sedona;

  @include uppercase;
}

.hotels__link {
  margin: auto;
  margin-bottom: 49px;
  padding: 16px 46px;

  text-align: center;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
  }

  &:disabled {
    color: rgb(255, 255, 255);

    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .hotels {
    width: 768px;
  }

  .hotels__text {
    padding: 55px 20px 15px;

    font-size: 30px;
  }

  .hotels__desc {
    padding: 16px 186px 42px;
  }

  .hotels__link {
    margin-bottom: 58px;
    padding: 16px 136px;
  }
}

@media (min-width: $desktop-width) {
  .hotels {
    width: 1200px;
  }

  .hotels__desc {
    padding: 16px 401px 47px;
  }

  .hotels__link {
    margin-bottom: 66px;
  }
}
