.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;

  order: -1;

  /* Временно для сетки */
  height: 223px;
}

.main-nav__list {
  @include ul;
}

.main-nav__toggle {
  @include button;

  position: absolute;
  top: 0;
  right: 0;
}

.main-nav__link {
  display: block;
  padding: 8px 10px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: $main;

  @include a;
  @include uppercase;

  background-color: $bg-sedona;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;

    /* Временно для сетки */
    height: 56px;
  }

  .main-nav__toggle {
    @include vh;
  }

  .main-nav__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;
  }
}
