.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  margin: 0 auto;
  padding: 0;

  /* Временно для сетки
  background-color: plum;*/
}

.page-footer__hashtag {
  @include h-p;
  padding: 37px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $text-main;

  @include uppercase;
}

.page-footer__copyright {
  @include h-p;
  padding-bottom: 28px;
  padding-right: 41px;


  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: $text-main;

  @include uppercase;
}

.page-footer__link {
  position: relative;
}

.page-footer__link-logo {
  position: absolute;
  top: -29px;
  left: 102px;

  width: 27px;
  height: 34px;

  &:hover,
  &:focus {
    fill: $bg-sedona;
  }

  &:active {
    fill: #b2b2b2;
  }
}


@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;

    width: 768px;
  }

  .page-footer__hashtag {
    padding: 47px 60px;
  }

  .page-footer__copyright {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__hashtag {
    padding: 47px 119px;
  }
}
