.page-header {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.page-header__logo {
  display: block;
  align-self: center;
  width: 102px;
  height: 83px;

  z-index: 5;
}

.page-header__container {
  margin-top: -27px;
  padding: 90px 20px 86px;
  box-sizing: border-box;

  background-color: #728390;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.page-header__container--inner-page {
  padding: 52px 44px 68px;
}

.page-header__intro-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
  }

  .page-header__logo {

    /* Временно для сетки */
    position: absolute;
    top: 0;
  }

  .page-header__container {
    min-height: 518px;
    margin-top: 0;
  }

  .page-header__container--inner-page {
    min-height: 290px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
  }

  .page-header__container--inner-page {
    min-height: 301px;
  }
}
