.socials-list {
  display: flex;
  justify-content: space-between;

  @include ul;
  margin-bottom: 42px;
}

.socials-list__item {
  margin-right: 5px;
}

.socials-list__item--last-elem {
  margin-right: 0;
}

.socials-list__link {
  display: block;
  padding: 24px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $main;

  @include a;
  @include uppercase;

  background-color: $bg-sedona;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

@media (min-width: $tablet-width) {
  .socials-list {
    margin-right: 118px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .socials-list {
    margin-right: 275px;
  }
}
