.tips {
  display: flex;
  flex-direction: column;

  @include ul;
}

.tips__item {
  padding: 32px 18px 0 70px;

  color: $text-main;

  background-color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 38px;
    height: 40px;
  }
}

.tips__item--accommodation {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 20px 26px;
  background-size: 40px;
}

.tips__item--souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 24px 22px;
  background-size: 32px;
}

.tips__item--food {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 19px 26px;
  background-size: 38px;
}

.tips__item-heading {
  @include h-p;
  padding-bottom: 13px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;

  @include uppercase;
}

.tips__desc {
  @include h-p;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $text-sedona;

  @include uppercase;
}

.tips__desc--last-elem {
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .tips {
    flex-direction: row;
    justify-content: space-between;
  }

  .tips__item {
    padding: 159px 40px 27px 39px;

    &::before {
      width: 78px;
      height: 76px;
    }
  }

  .tips__item--accommodation {
    background-position: 90px 60px;
    background-size: 75px;
  }

  .tips__item--souvenirs {
    background-position: 80px 57px;
    background-size: 64px;
  }

  .tips__item--food {
    background-position: 86px 63px;
    background-size: 75px;
  }

  .tips__item--spec-elem {
    order: 2;
  }

  .tips__item-heading {
    padding-right: 10px;
    padding-bottom: 20px;

    font-size: 21px;
    text-align: center;
  }

  .tips__desc {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .tips__item {
    padding: 159px 71px 30px 58px;
  }

  .tips__item--accommodation {
    background-position: 161px 60px;
  }

  .tips__item--souvenirs {
    background-position: 145px 57px;
  }

  .tips__item--food {
    background-position: 156px 63px;
  }

  .tips__desc--last-elem {
    padding-bottom: 53px;
  }
}
